-- MySQL dump 10.13  Distrib 8.0.27, for Win64 (x86_64)
--
-- Host: localhost    Database: top20
-- ------------------------------------------------------
-- Server version	8.0.27

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `top20`
--

/*!40000 DROP DATABASE IF EXISTS `top20`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `top20` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `top20`;

--
-- Table structure for table `agency_summary_entity`
--

DROP TABLE IF EXISTS `agency_summary_entity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agency_summary_entity` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agency` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `date` varchar(255) DEFAULT NULL,
  `record_count` int NOT NULL,
  `service` varchar(255) DEFAULT NULL,
  `timestamp` varchar(255) DEFAULT NULL,
  `total_volume` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=117 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agency_summary_entity`
--

LOCK TABLES `agency_summary_entity` WRITE;
/*!40000 ALTER TABLE `agency_summary_entity` DISABLE KEYS */;
/*!40000 ALTER TABLE `agency_summary_entity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compte`
--

DROP TABLE IF EXISTS `compte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compte` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agence` varchar(255) DEFAULT NULL,
  `code_proprietaire` varchar(255) DEFAULT NULL,
  `date_derniere_maj` datetime(6) NOT NULL,
  `numero_compte` varchar(255) NOT NULL,
  `pays` varchar(255) NOT NULL,
  `solde` double NOT NULL,
  `type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_hx2we7gc1i1c5ylusignv31f3` (`numero_compte`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compte`
--

LOCK TABLES `compte` WRITE;
/*!40000 ALTER TABLE `compte` DISABLE KEYS */;
INSERT INTO `compte` (`id`, `agence`, `code_proprietaire`, `date_derniere_maj`, `numero_compte`, `pays`, `solde`, `type`) VALUES (1,NULL,'CELCM0001','2025-08-01 00:42:15.921556','CELCM0001','CM',81851051.15000005,'TOP20');
/*!40000 ALTER TABLE `compte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compte_solde_bo`
--

DROP TABLE IF EXISTS `compte_solde_bo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compte_solde_bo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `date_solde` date NOT NULL,
  `numero_compte` varchar(255) NOT NULL,
  `solde_bo` double NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6pu1mr5r72fr7d13kgrvpd93i` (`numero_compte`,`date_solde`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compte_solde_bo`
--

LOCK TABLES `compte_solde_bo` WRITE;
/*!40000 ALTER TABLE `compte_solde_bo` DISABLE KEYS */;
/*!40000 ALTER TABLE `compte_solde_bo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ecart_solde`
--

DROP TABLE IF EXISTS `ecart_solde`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ecart_solde` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agence` varchar(255) DEFAULT NULL,
  `commentaire` varchar(255) DEFAULT NULL,
  `date_import` datetime(6) DEFAULT NULL,
  `date_transaction` datetime(6) NOT NULL,
  `id_transaction` varchar(255) NOT NULL,
  `montant` double NOT NULL,
  `numero_trans_gu` varchar(255) DEFAULT NULL,
  `pays` varchar(255) DEFAULT NULL,
  `service` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `telephone_client` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ecart_solde`
--

LOCK TABLES `ecart_solde` WRITE;
/*!40000 ALTER TABLE `ecart_solde` DISABLE KEYS */;
/*!40000 ALTER TABLE `ecart_solde` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frais_transaction`
--

DROP TABLE IF EXISTS `frais_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `frais_transaction` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `actif` bit(1) NOT NULL,
  `agence` varchar(255) NOT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `date_modification` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `montant_frais` double NOT NULL,
  `pourcentage` double DEFAULT NULL,
  `service` varchar(255) NOT NULL,
  `type_calcul` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frais_transaction`
--

LOCK TABLES `frais_transaction` WRITE;
/*!40000 ALTER TABLE `frais_transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `frais_transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `module`
--

DROP TABLE IF EXISTS `module`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `module` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_7rgjhhl2xwx7bx5sfrvrlwgyg` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `module`
--

LOCK TABLES `module` WRITE;
/*!40000 ALTER TABLE `module` DISABLE KEYS */;
/*!40000 ALTER TABLE `module` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `module_permission`
--

DROP TABLE IF EXISTS `module_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `module_permission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `module_id` bigint NOT NULL,
  `permission_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKktqxthjfer0eftk4n6aw65erg` (`module_id`),
  KEY `FKjef167fcfubau50abvfsm5wx` (`permission_id`),
  CONSTRAINT `FKjef167fcfubau50abvfsm5wx` FOREIGN KEY (`permission_id`) REFERENCES `permission` (`id`),
  CONSTRAINT `FKktqxthjfer0eftk4n6aw65erg` FOREIGN KEY (`module_id`) REFERENCES `module` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `module_permission`
--

LOCK TABLES `module_permission` WRITE;
/*!40000 ALTER TABLE `module_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `module_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operation`
--

DROP TABLE IF EXISTS `operation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `banque` varchar(255) DEFAULT NULL,
  `code_proprietaire` varchar(255) NOT NULL,
  `date_operation` datetime(6) NOT NULL,
  `montant` double NOT NULL,
  `nom_bordereau` varchar(255) DEFAULT NULL,
  `parent_operation_id` bigint DEFAULT NULL,
  `pays` varchar(255) NOT NULL,
  `record_count` int DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `service` varchar(255) DEFAULT NULL,
  `solde_apres` double NOT NULL,
  `solde_avant` double NOT NULL,
  `statut` varchar(255) NOT NULL,
  `type_operation` varchar(255) NOT NULL,
  `compte_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKa0ct8me4s6e469ipqb4tkdomh` (`compte_id`),
  CONSTRAINT `FKa0ct8me4s6e469ipqb4tkdomh` FOREIGN KEY (`compte_id`) REFERENCES `compte` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=250 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation`
--

LOCK TABLES `operation` WRITE;
/*!40000 ALTER TABLE `operation` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission`
--

DROP TABLE IF EXISTS `permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_s1inbmd8duat28me7n9rwxvwu` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission`
--

LOCK TABLES `permission` WRITE;
/*!40000 ALTER TABLE `permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profil`
--

DROP TABLE IF EXISTS `profil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profil` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` text,
  `nom` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_oti9hwn3djjpjonm24y2uosdp` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profil`
--

LOCK TABLES `profil` WRITE;
/*!40000 ALTER TABLE `profil` DISABLE KEYS */;
/*!40000 ALTER TABLE `profil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profil_permission`
--

DROP TABLE IF EXISTS `profil_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profil_permission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `module_id` bigint NOT NULL,
  `permission_id` bigint NOT NULL,
  `profil_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKsvajq98gsia6l5vwokhyxvlic` (`module_id`),
  KEY `FK3ieu2a54ck03psktnt0fwr0sy` (`permission_id`),
  KEY `FK53eot52jy3vgi21blkmvbmjmu` (`profil_id`),
  CONSTRAINT `FK3ieu2a54ck03psktnt0fwr0sy` FOREIGN KEY (`permission_id`) REFERENCES `permission` (`id`),
  CONSTRAINT `FK53eot52jy3vgi21blkmvbmjmu` FOREIGN KEY (`profil_id`) REFERENCES `profil` (`id`),
  CONSTRAINT `FKsvajq98gsia6l5vwokhyxvlic` FOREIGN KEY (`module_id`) REFERENCES `module` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profil_permission`
--

LOCK TABLES `profil_permission` WRITE;
/*!40000 ALTER TABLE `profil_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `profil_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statistics`
--

DROP TABLE IF EXISTS `statistics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistics` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agency` varchar(255) NOT NULL,
  `country` varchar(255) NOT NULL,
  `date` date NOT NULL,
  `record_count` int NOT NULL,
  `service` varchar(255) NOT NULL,
  `total_volume` decimal(38,2) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statistics`
--

LOCK TABLES `statistics` WRITE;
/*!40000 ALTER TABLE `statistics` DISABLE KEYS */;
/*!40000 ALTER TABLE `statistics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `profil_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_sb8bbouer5wak8vyiiy4pf2bx` (`username`),
  KEY `FKodenud73jl3nlt4po6pqvq7i3` (`profil_id`),
  CONSTRAINT `FKodenud73jl3nlt4po6pqvq7i3` FOREIGN KEY (`profil_id`) REFERENCES `profil` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` (`id`, `password`, `username`, `profil_id`) VALUES (1,'admin','admin',NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'top20'
--

--
-- Dumping routines for database 'top20'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-01  1:08:12
